<div class="widgets-container">
    <div class="recipes-widget widget">
        <h2>This Week's Culinary Experience:</h2>
        {{!-- Didn't work {{#each culexp as |culExp|}} --}}
        <div class="recipes-body widget-body">        
            <p>Dinner Theme: {{category_name}}</p>
            {{!-- <p>User ID: {{category.user_id}}</p> --}}
            {{#each recipes as |recipe|}}
            <p>Menu: <a href="{{recipe.recipe_link}}">{{recipe.recipe_name}}</a></p>
            {{/each}}
            {{#each wines as |wine|}}
            <p>Suggested Wine Pairing: {{wine.wine_name}}</p>
            {{/each}}
            {{#each playlists as |playlist|}}
            <p>Playlist: <a href="{{playlist.playlist_link}}">{{playlist.playlist_name}}</a></p>
            {{/each}}
            <button>Get different experience</button> 
        </div>
        {{!-- {{/each}} --}}
    </div>
    <div class="weather-widget widget">
        <h2>Weekly Forecast</h2>
        <input type="text">
        <div class="weather-body">
            {{!-- Adding OpenWeather API from Dev --}}
       
                {{#each data as |day|}}
                <div class="weather-day">

                    <h4>{{convertTimestamp day.dt}}</h4>

                    {{#each day.weather as |weather|}}
                    <img src="http://openweathermap.org/img/wn/{{weather.icon}}.png"  alt="weather-icon">
                    {{/each}}

                    <p>{{day.temp.day}}°F</p>

                </div>
                {{/each}}
            
                {{!-- template from original weekly build by Neema --}}
            {{!-- <div class="weather-day">
                <h4>Monday</h4>
                <img src="./img/img_209726.png" width="30px" alt="">
                <p>50F</p>
            </div>
            <div class="weather-day">
                <h4>Tuesday</h4>
                <img src="./img/img_209726.png" width="30px" alt="">
                <p>50F</p>
            </div>
            <div class="weather-day">
                <h4>Wednesday</h4>
                <img src="./img/img_209726.png" width="30px" alt="">
                <p>50F</p>
            </div>
            <div class="weather-day">
                <h4>Thursday</h4>
                <img src="./img/img_209726.png" width="30px" alt="">
                <p>50F</p>
            </div>
            <div class="weather-day">
                <h4>Friday</h4>
                <img src="./img/img_209726.png" width="30px" alt="">
                <p>50F</p>
            </div> --}}
        </div>
    </div>
    <div class="events-widget widget">
        <h2>Events during the week</h2>
        <div class="events-body widget-body">
            <a href="">April 14 - race</a>
            <a href="">April 15 - concert</a>
            <a href="">April 14 - race</a>
            <a href="">April 15 - concert</a>
            <a href="">April 14 - race</a>
            <a href="">April 15 - concert</a>
            <button>See more events near me</button>
        </div>
    </div>
    <div class="events-widget widget">
        <h2>Some other random widget</h2>
        <div class="events-body widget-body">
            <a href="">April 14 - race</a>
            <a href="">April 15 - concert</a>
            <a href="">April 14 - race</a>
            <a href="">April 15 - concert</a>
            <a href="">April 14 - race</a>
            <a href="">April 15 - concert</a>
            <button>See more events near me</button>
        </div>
    </div>     
</div>